---
import Layout from '@/layouts/MainLayout.astro';
import queries from '@/server/queries';
const allTBTVEpisodes = await queries.get.all.tbtv();
---

<Layout>
  <div class="content-container">
    <h1>TBTV</h1>
    {
      allTBTVEpisodes.map((tbtvEpisode) => (
        <div class="tbtv-episode">
          <h2>{tbtvEpisode.title}</h2>
          <iframe
            width="640"
            height="360"
            src={tbtvEpisode.url}
            allowfullscreen
          />
        </div>
      ))
    }
  </div>
</Layout>
