---
import Layout from '@/layouts/MainLayout.astro';
import Tiptap from '@/components/Staff/Posts/TextEditor';
// import data from '@/server/queries';

const userData = await Astro.locals.currentUser();

let isAdmin = import.meta.env.DEV;

if (!import.meta.env.DEV) {
  if (userData) {
    if (userData.publicMetadata.isAdmin) {
      isAdmin = true;
    } else {
      isAdmin = false;
    }
  } else {
    return Astro.redirect('/?error=action-not-permitted');
  }
}

console.log(isAdmin);
---

<Layout>
  <div class="content-container flex flex-col sm:flex-row sm:flex-wrap gap-2">
    <Tiptap client:only="react" />
  </div>
</Layout>
