---
import Layout from '@/layouts/MainLayout.astro';
import TeacherCard from '@/components/ehsteachers/Card';
import data from '@/server/queries';
import type { types } from '@/lib';
const dataRaw = await data.get.all.teachers();
import { db, teachers, eq } from 'astro:db';
// eslint-disable-next-line id-length
const Teachers = dataRaw.sort((a, b) => a.job.localeCompare(b.job));

const userData = await Astro.locals.currentUser();

let isAdmin = false;

if (userData) {
  const user = await data.get.byId.author.clerkId(userData.id);
  if (userData.publicMetadata.isAdmin || user[0].admin == true) {
    isAdmin = true;
  }
}

if (Astro.request.method === 'POST' && isAdmin) {
  const formData = await Astro.request.formData();
  console.log(formData);
  if (formData.get('type') === 'update') {
    const teacherData = formData;
    const teacherObject: types.teacher = {
      id: Number(teacherData.get('id')),
      name: String(teacherData.get('name')),
      picture: String(teacherData.get('picture')),
      job: String(teacherData.get('job')),
    };
    await db.update(teachers).set(teacherObject).where(eq(teachers.id, teacherObject.id)).catch((err) => {
      console.log(err);
    });
    return Astro.redirect('/ehsteachers');
  }
}
---

<Layout>
  <div
    class="content-container grid lg:grid-cols-6 md:grid-cols-4 grid-cols-2 gap-2"
  >
    {
      Teachers &&
        Teachers.map((teacher) => (
          <TeacherCard teacher={teacher} isAdmin={isAdmin} client:only="react" />
        ))
    }
  </div>
</Layout>
