---
import Layout from '@/layouts/MainLayout.astro';
import TeacherCard from '@/components/ehsteachers/Card';
import { db, teachers } from 'astro:db';
const dataRaw = await db.select().from(teachers);
// eslint-disable-next-line id-length
const data = dataRaw.sort((a, b) => a.job.localeCompare(b.job));
---

<Layout>
  <div
    class="content-container grid lg:grid-cols-6 md:grid-cols-4 grid-cols-2 gap-2"
  >
    {data && data.map((teacher) => <TeacherCard teacher={teacher} />)}
  </div>
</Layout>
