---
import Layout from "@/layouts/MainLayout.astro";
import StaffPanel from "src/components/Staff/StaffPanel";
---

<Layout>
  <div class="content-container">
    <StaffPanel client:load />
  </div>
</Layout>
