---
import BellScheduleTable from "@/components/BellSchedule/Table";
import Layout from "@/layouts/MainLayout.astro";
---

<Layout>
  <div
    class="content-container grid grid-cols-1 sm:grid-cols-2 gap-2 items-center justify-center h-fit"
  >
    <BellScheduleTable client:only="react" />
    <object data="/2024-2025-Calendar.pdf" width="800" height="500"> </object>
  </div>
</Layout>
