---
import ImageCard from '@/components/ImageCard';
import Layout from '@/layouts/MainLayout.astro';
import data from '@/server/queries';

const images = await data.get.all.images();
---

<Layout>
  <div
    class="content-container grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-2"
  >
    {images.map((image) => <ImageCard image={image} />)}
  </div>
</Layout>
