---
import Layout from '@/layouts/MainLayout.astro';
import { Button } from '@/components/ui/button';
---

<Layout>
  <div class="content-container flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">404</h1>
    <p class="text-xl">Page not found</p>
    <Button> Home </Button>
  </div>
</Layout>
