---
import Layout from '@/layouts/MainLayout.astro';
import data from '@/server/queries';
import { GenerateHTML } from '@/components/GenerateHTML';
// import { render } from 'astro/runtime/server/index.js';

const posts = await data.get.all.posts();

const postsFormatted = posts.map((post) => {
  // console.log(post)
  const content = JSON.parse(post.content);
  // console.log(content)
  return {
    id: post.id,
    title: post.title,
    author: post.author,
    date: post.date,
    image: post.image,
    needsReview: post.needsReview,
    published: post.published,
    category: post.category,
    content: content as {
      type: string;
      content: [];
    },
  };
});
---

<Layout>
  <div class="content-container">
    {
      postsFormatted.map((post) => (
        <div class="post-container">
          <a href={`/posts/${post.id}`}>
            <h2 class="post-title">{post.title}</h2>
          </a>
          <div class="prose">
            <GenerateHTML type={post.content.type} content={post.content.content} />
          </div>
        </div>
      ))
    }
  </div>
</Layout>
