---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/MainLayout.astro';
import artboard from '../assets/Artboard-1-2.png';
---

<Layout>
	<header class="w-full bg-ehs-blue text-ehs-white">
		<img src={artboard.src} alt="" class="w-full h-full" />
		<div class="flex flex-col justify-center items-center h-full">
			<h1 class="text-2xl">latest posts bar</h1>
		</div>
	</header>
</Layout>
