---
import { PostCard } from "@/components/PostCard";
import Layout from "@/layouts/MainLayout.astro";
import data from "@/server/queries";

const posts = await data.get.all.posts();
const categories = await data.get.all.categories();

const postsFormatted = await Promise.all(
	posts.map(async (post) => {
		// console.log(post)
		const content = JSON.parse(post.content);
		// console.log(content)
		const response = await fetch(post.image);
		const arrayBuffer = await response.arrayBuffer();
		const buffer = Buffer.from(arrayBuffer);
		const dataUrl = `data:${response.headers.get("content-type")};base64,${buffer.toString("base64")}`;
		return {
			post: {
				id: post.id,
				title: post.title,
				description: post.description,
				author: post.author,
				date: post.date,
				image: dataUrl,
				needsReview: post.needsReview,
				published: post.published,
				category: post.category,
				content: content as {
					type: string;
					content: [];
				},
			},
			category: categories.find((category) => category.id === post.category)!,
		};
	}),
);

const postsSorted = postsFormatted.sort((alpha, beta) => {
	if (alpha.post.date < beta.post.date) return 1;
	if (alpha.post.date > beta.post.date) return -1;
	return 0;
});
---

<Layout>
  <div class="content-container h-full">
    {
      postsSorted &&
        postsSorted.map((post) => (
          <PostCard post={post.post} category={post.category} />
        ))
    }
  </div>
</Layout>
