---
import { PostCard } from '@/components/PostCard';
import Layout from '@/layouts/MainLayout.astro';
import data from '@/server/queries';

const category = await data.get.byName.category('News');
if (!category[0]) {
  return Astro.rewrite('/404');
}
const posts = await data.get.byCategory.posts(category[0].id);
---

<Layout>
  <div class="content-container">
    {posts.map((post) => <PostCard post={post} category={category[0]} />)}
  </div>
</Layout>
