---
import CategoriesCard from '@/components/Admin/CategoriesCard';
import Layout from '@/layouts/MainLayout.astro';
import TBTVCard from '@/components/Admin/TBTVCard';

const userData = await Astro.locals.currentUser();

let isAdmin = import.meta.env.DEV;

if (!import.meta.env.DEV) {
  if (userData) {
    if (userData.publicMetadata.isAdmin) {
      isAdmin = true;
    } else {
      return Astro.redirect('/?error=action-not-permitted');
    }
  } else {
    return Astro.redirect('/?error=action-not-permitted');
  }
}

console.log(isAdmin);
---

<Layout>
  <div class="content-container flex flex-col sm:flex-row sm:flex-wrap gap-2">
    <CategoriesCard />
    <TBTVCard />
  </div>
</Layout>
